body {
    background: #F3F2FA;
}

header {
    height: 80px;
    padding: 28px 76px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4E3EB;
    background: #FFF;
    align-items: center;
    width: 100%;
} 



.login {
    width: 93px;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    font-family: "FiraGO";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    border: none;
    cursor: pointer;
}

.container {
    padding-top: 40px;
   justify-content: center;
   display: flex;
   
}